<script lang="ts">
	import Vote from "./_vote.svelte";
	import { get_rankings } from "./_data";
	import { get_ranking_proposal } from "./_optimization";
	import { get_state_size } from "./_simulation/simulation";
	import { get_action_size } from "./_simulation/simulation";
	import { create_robot } from "./_simulation/simulation";

	async function get_data() {
		// Query the database for rankings
		let rankings = await get_rankings();

		// Get two parameter vectors to compare
		let robot = create_robot();
		let state_size = get_state_size(robot);
		let action_size = get_action_size(robot);
		let [p1, p2] = await get_ranking_proposal(
			rankings,
			state_size,
			action_size
		);
		return [p1, p2];
	}

	function reload() {
		data_promise = get_data();
	}

	let data_promise = get_data();
</script>

<h1>Crowd-sourced back-flip</h1>

<h5>Can the crowd teach how to do a back-flip from scratch?</h5>

<p>Your decision will impact all future users. The goal is to do a backflip to
the right. Which of these does a better job?</p>


{#await data_promise}
	<p>Please wait for previous experiments to be analyzed.</p>
{:then data}
	<Vote p1={data[0]} p2={data[1]} on:vote_registered={reload}/>
{:catch error}
	<h1>Oops!</h1>
	<h5>The database is offline :(</h5>
	<p>{JSON.stringify(error)}</p>
{/await}

<h2>More things to do</h2>

<ul>
	<li><a href="./about">About</a></li>
	<li><a href="./graph">Graph</a></li>
</ul>
