<script lang="ts">
	import { create_robot } from "./_simulation/simulation";
	import { create_engine } from "./_simulation/simulation";
	import Matter from 'matter-js';

	export let controller: (state: number[]) => number[];

	function add_simulation(node) {
		let Runner = Matter.Runner,
			Render = Matter.Render;

		// Create robot
		let robot = create_robot();

		// Create engine with robot and controller
		let engine = create_engine(robot, controller);

		// Create renderer
		let render = Render.create({
				canvas: node,
				engine: engine,
				options: {
					background: "white",
					wireframes: false,
				}
			});
		Render.run(render);

		// Create runner
		let runner = Runner.create({isFixed: true});
		Runner.run(runner, engine);

		return {
			destroy() {
				Render.stop(render);
				Runner.stop(runner);
			}
		}
	}
</script>

<canvas use:add_simulation></canvas>

<style>
	canvas {
		width: 100%;
		height: 100%;
	}
</style>
