<script lang="ts">
	import Simulation from "./_simulation.svelte";
	import { get_ranking_proposal } from "./_optimization";
	import { get_action } from "./_simulation/controller";
	import { create_robot } from "./_simulation/simulation";
	import { get_state_size } from "./_simulation/simulation";
	import { get_action_size } from "./_simulation/simulation";
	import { add_ranking } from "./_data";
	import type { Datapoint } from "./_data";
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	// The rankings and the two vectors to compare
	export let p1: DataPoint;
	export let p2: DataPoint;

	// Get the action and state sizes
	let robot = create_robot();
	let action_size = get_action_size(robot);

	// Define a controller for each parameter vector
	let controller1 = (state: number[]) => get_action(p1.vector, state, action_size);
	let controller2 = (state: number[]) => get_action(p2.vector, state, action_size);

	/**
	 * Registers a choice to the database.
	 */
	let awaiting_add = false;
	async function on_choice(lo: DataPoint, hi: DataPoint) {
		try {
			await add_ranking(lo, hi);
			alert("Thank you! Your choice was recorded. You can continue voting if you so choose.");
		} catch(e) {
			alert("The datbase is offline :(");
		}
		dispatch("vote_registered");
	}

	// Let the user vote only after a certain amount of time has passed.
	let milliseconds = 5000;
	let choice_countdown = new Promise(
		resolve => setTimeout(resolve, milliseconds)
	);
	let restart_n = 0;
</script>

<div class="container">
	<div class="item">
		<h5>Robot A</h5>
		<div class="simulation">
			{#key restart_n}
				<Simulation controller={controller1}/>
			{/key}
		</div>
		{#await choice_countdown}
			<button disabled>Take your time</button>
		{:then}
			{#if awaiting_add}
				<button disabled>Recording...</button>
			{:else}
				<button on:click="{() => {awaiting_add = true; on_choice(p2, p1)}}">Robot A is better</button>
			{/if}
		{/await}
	</div>

	<div class="item">
		<h5>Robot B</h5>
		<div class="simulation">
			{#key restart_n}
				<Simulation controller={controller2}/>
			{/key}
		</div>
		{#await choice_countdown}
			<button disabled>Take your time</button>
		{:then}
			{#if awaiting_add}
				<button disabled>Recording...</button>
			{:else}
				<button on:click="{() => {awaiting_add = true; on_choice(p1, p2)}}">Robot B is better</button>
			{/if}
		{/await}
	</div>
</div>

<div class="column-container">
	<button on:click="{() => restart_n++}">Restart</button>
</div>

<style>
	.simulation {
		width: 80%;
		margin: auto;
	}

	.container {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.column-container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	@media only screen and (orientation: portrait) {
		.container {
			flex-direction: column;
		}
	}

	.item {
		flex: auto;
		flex-direction: column;
		justify-content: center;
		display: flex;
		width: 100%;
	}

	.item h5 {
		margin: auto;
	}

	button {
		flex: initial;
		margin: auto;
		margin-top: 1em;
	}
</style>
