<svelte:head>
	<title>About</title>
</svelte:head>
<h1>About</h1>

<p>This page implements a simple algorithm to optimize the parameters of a
policy given user feedback. The algorithm iterates the following steps:</p>

<ol>
	<li>Receive a database of user feedback in the form of pair-wise rankings of
		parameter vectors.</li>
	<li>Randomly choose a greatest element according to the partial order induced
		by the rankings.</li>
	<li>Mutate the vector of the chosen greatest element.</li>
	<li>Ask the user to rank the new vector relative to the original
		vector.</li>
	<li>Add the user's rank to the database.</li>
</ol>

<p>The first user is asked to rank two random parameter vectors.</p>

<p>For more details see the <a href="https://gitlab.com/da_doomer/crowd-sourced-locomotion">code hosted at Gitlab</a>.</p>

<p><a href="./">Home</a></p>
