<svelte:head>
	<title>Graph</title>
</svelte:head>

<script lang="ts">
	import { get_rankings } from "./_data";
	import type { Ranking } from "./_data";
	import * as d3 from "d3";
	import Modal from "./_modal.svelte";
	import { get_vector } from "./_data";
	import { get_action_size } from "./_simulation/simulation";
	import { create_robot } from "./_simulation/simulation";
	import { get_action } from "./_simulation/controller";
	import Simulation from "./_simulation.svelte";
	import { goto } from "$app/navigation";

	type Node = {
		id: string,
		color: number,
		distance: number,
	};

	type Link = {
		source: string,
		target: string,
	};

	type Graph = {
		nodes: Node[],
		links: Link[],
	};

	let showModal = false;
	let modal_controller_id = "";
	let controller_promise = "no controller here";

	/**
	 * Returns the distance to a leaf node in the given directed graph. If there
	 * are no leafs in the connected component of the given node, an exception
	 * is raised.
	 */
	function distance_to_leaf(
			id: string,
			links: Link[],
			visited: string[]
			): number {
		// For each out-neighbor, recursively get the minimum distance to a leaf
		let out_neighbors = [];
		let distances = [];
		for(const link of links)
		if(link.source == id) {
			out_neighbors.push(link.target);
			if(!(visited.includes(link.target))) {
				try {
					let d_candidate = distance_to_leaf(
						link.target,
						links,
						[...visited, id],
					);
					distances.push(d_candidate);
				} catch(err) {
				}
			}
		}

		if(distances.length > 0) {
			// This means there is a path to a leaf
			return Math.min(...distances)+1;
		} else if(out_neighbors.length == 0) {
			// This means the node is a leaf
			return 0.0;
		}
		// This means the component of the node is not acyclic
		throw "Component not acyclic!";
	}

	function rankings_to_graph(rankings: Ranking[]): Graph {
		// Get all unique points in the rankings
		let points = [];
		for(const ranking of rankings)
		for(const point of [ranking.hi_id, ranking.lo_id])
		if(!(points.includes(point)))
			points.push(point);

		// Create links
		let links = [];
		for(const ranking of rankings)
			links.push({source: ranking.lo_id, target: ranking.hi_id});


		// Get the distances to leaf
		let distances = [];
		for(const point of points) {
			// Try to compute the distance to a leaf. If the component of
			// the node has no leafs, then simply use 0.0 as the color.
			try {
				let d = distance_to_leaf(point, links, []);
				distances.push(d);
			} catch(err) {
				distances.push(0.0);
			}
		}

		// Cast points to nodes
		let nodes = [];
		for(let i = 0; i < points.length; i++) {
			let color = 0.5+0.5*distances[i]/Math.max(...distances);
			nodes.push({id: points[i], color: color, distance: distances[i]});
		}

		return {
			nodes: nodes,
			links: links,
		};
	}

	// Copyright 2021 Observable, Inc.
	// Released under the ISC license.
	// https://observablehq.com/@d3/disjoint-force-directed-graph
	function ForceGraph({
		nodes, // an iterable of node objects (typically [{id}, …])
		links // an iterable of link objects (typically [{source, target}, …])
	}, {
		nodeId = d => d.id, // given d in nodes, returns a unique identifier (string)
		nodeGroup, // given d in nodes, returns an value for color in [0, 1]
		nodeGroups, // an array of ordinal values representing the node groups
		nodeTitle, // given d in nodes, a title string
		nodeFill = "currentColor", // node stroke fill (if not using a group color encoding)
		nodeStroke = "#fff", // node stroke color
		nodeStrokeWidth = 1.5, // node stroke width, in pixels
		nodeStrokeOpacity = 1, // node stroke opacity
		nodeRadius = 5, // node radius, in pixels
		nodeStrength,
		linkSource = ({source}) => source, // given d in links, returns a node identifier string
		linkTarget = ({target}) => target, // given d in links, returns a node identifier string
		linkStroke = "#999", // link stroke color
		linkStrokeOpacity = 0.6, // link stroke opacity
		linkStrokeWidth = 1.5, // given d in links, returns a stroke width in pixels
		linkStrokeLinecap = "round", // link stroke linecap
		linkStrength,
colors = d3.interpolateBlues, // an array of color strings, for the node groups
		width = 640, // outer width, in pixels
		height = 400, // outer height, in pixels
		invalidation, // when this promise resolves, stop the simulation
		on_node_click, // called when a node is clicked with (event, node)
	} = {}) {
		// Compute values.
		const N = d3.map(nodes, nodeId).map(intern);
		const LS = d3.map(links, linkSource).map(intern);
		const LT = d3.map(links, linkTarget).map(intern);
		if (nodeTitle === undefined) nodeTitle = (_, i) => N[i];
		const T = nodeTitle == null ? null : d3.map(nodes, nodeTitle);
		const G = nodeGroup == null ? null : d3.map(nodes, nodeGroup).map(intern);
		const W = typeof linkStrokeWidth !== "function" ? null : d3.map(links, linkStrokeWidth);

		// Replace the input nodes and links with mutable objects for the simulation.
		nodes = d3.map(nodes, (_, i) => ({id: N[i]}));
		links = d3.map(links, (_, i) => ({source: LS[i], target: LT[i]}));

		// Compute default domains.
		if (G && nodeGroups === undefined) nodeGroups = d3.sort(G);

		// Construct the scales.
		const color = nodeGroup == null ? null : d3.scaleOrdinal(nodeGroups, colors);

		// Construct the forces.
		const forceNode = d3.forceManyBody();
		const forceLink = d3.forceLink(links).id(({index: i}) => N[i]);
		if (nodeStrength !== undefined) forceNode.strength(nodeStrength);
		if (linkStrength !== undefined) forceLink.strength(linkStrength);

		const simulation = d3.forceSimulation(nodes)
			.force("link", forceLink)
			.force("charge", forceNode)
			.force("x", d3.forceX())
			.force("y", d3.forceY())
			.on("tick", ticked);

		const svg = d3.create("svg")
			.attr("width", "100%")
			.attr("height", height)
			.attr("viewBox", [-width / 2, -height / 2, width, height])
			.attr("style", "max-width: 100%; height: auto; height: intrinsic;");

		const link = svg.append("g")
			.attr("stroke", linkStroke)
			.attr("stroke-opacity", linkStrokeOpacity)
			.attr("stroke-width", typeof linkStrokeWidth !== "function" ? linkStrokeWidth : null)
			.attr("stroke-linecap", linkStrokeLinecap)
			.selectAll("line")
			.data(links)
			.join("line");

		if (W) link.attr("stroke-width", ({index: i}) => W[i]);

		const node = svg.append("g")
			.attr("fill", nodeFill)
			.attr("stroke", nodeStroke)
			.attr("stroke-opacity", nodeStrokeOpacity)
			.attr("stroke-width", nodeStrokeWidth)
			.selectAll("circle")
			.data(nodes)
			.join("circle")
			.attr("r", nodeRadius)
			.on("click", on_node_click);

		if (G) node.attr("fill", ({index: i}) => colors(G[i]));
		if (T) node.append("title").text(({index: i}) => T[i]);

		// Handle invalidation.
		if (invalidation != null) invalidation.then(() => simulation.stop());

		function intern(value) {
			return value !== null && typeof value === "object" ? value.valueOf() : value;
		}

		function ticked() {
			link
				.attr("x1", d => d.source.x)
				.attr("y1", d => d.source.y)
				.attr("x2", d => d.target.x)
				.attr("y2", d => d.target.y);

			node
				.attr("cx", d => d.x)
				.attr("cy", d => d.y);
		}

		function drag(simulation) {    
			function dragstarted(event) {
				if (!event.active) simulation.alphaTarget(0.3).restart();
				event.subject.fx = event.subject.x;
				event.subject.fy = event.subject.y;
			}

			function dragged(event) {
				event.subject.fx = event.x;
				event.subject.fy = event.y;
			}

			function dragended(event) {
				if (!event.active) simulation.alphaTarget(0);
				event.subject.fx = null;
				event.subject.fy = null;
			}

			return d3.drag()
				.on("start", dragstarted)
				.on("drag", dragged)
				.on("end", dragended);
		}

		return Object.assign(svg.node(), {scales: {color}});
	}

	async function get_controller(id: string) {
		let vector = await get_vector(id);
		let robot = create_robot();
		let action_size = get_action_size(robot);
		let controller = (state: number[]) => get_action(vector, state, action_size);
		return controller;
	}

	function on_node_click(event, node) {
		modal_controller_id = node.id;
		controller_promise = get_controller(modal_controller_id);
		showModal = true;
	}

	function draw_graph(node: string, data: Ranking[]) {
		let invalidation = new Promise(()=>0);
		node.appendChild(ForceGraph(rankings_to_graph(data), {
			nodeId: d=>d.id,
			nodeGroup: d => d.color,
			nodeTitle: d => JSON.stringify(d),
			invalidation: invalidation,
			on_node_click: on_node_click,
		}));

		return {
			destroy() {
				// the node has been removed from the DOM
			}
		};
	}

	async function get_data() {
		// Query the database for rankings
		let rankings = await get_rankings();
		return rankings;
	}

	function reload() {
		data_promise = get_data();
	}

	let data_promise = get_data();
</script>

<h1>Visualizing user preferences</h1>

<p>In this page you will see a directed graph encoding user preferences. Users
provide feedback of the form "x is better than y". This feedback can be
visualized as a directed graph where there is an arrow from "node x" to "node
y" if "y is better than x". Leafs are then nodes for which no improvement is
known. Below, you will see this directed graph with edges as straight lines to
avoid cluttering the space. Colors encode how close a node is to a leaf: the
brighter the color, the closer the node is to a leaf.</p>

<p>Click on a node to visualize the controller.</p>

{#await data_promise}
	<p>Please wait for previous experiments to be analyzed.</p>
{:then data}
	<div use:draw_graph={data}></div>
{:catch error}
	<h1>Oops!</h1>
	<h5>The database is offline :(</h5>
	<p>{JSON.stringify(error)}</p>
{/await}

<p><a href="./">Home</a></p>

{#if showModal}
	<Modal on:close="{() => showModal = false}">
	<p>Controller {modal_controller_id}</p>
	{#await controller_promise}
	<p>Please wait while data is fetched.</p>
	{:then controller}
		<div class="simulation">
			<Simulation controller={controller}/>
		</div>
		<button on:click="{()=>goto('visualize?id='+modal_controller_id)}">Share this controller</button>
	{:catch error}
		<p>Something wrong happened :(</p>
		{JSON.stringify(error)}
	{/await}
	</Modal>
{/if}

<style>
	.simulation {
		width: 100%;
		margin: auto;
	}
</style>
