<svelte:head>
	<title>Visualize</title>
</svelte:head>

<script lang="ts">
	import Simulation from "./_simulation.svelte";
	import { get_action } from "./_simulation/controller";
	import { create_robot } from "./_simulation/simulation";
	import { get_action_size } from "./_simulation/simulation";
	import { get_vector } from "./_data";
	import { page } from '$app/stores'
	import { page } from '$app/stores';

	let id = $page.query.get('id');

	async function get_controller(id: string) {
		let vector = await get_vector(id);
		let robot = create_robot();
		let action_size = get_action_size(robot);
		let controller = (state: number[]) => get_action(vector, state, action_size);
		return controller;
	}

	let restart_n = 0;

	let controller_promise = null;
	if(id === null)
		id == "";
	else
		controller_promise = get_controller(id);
</script>

<h1>Visualize a controller</h1>

{#if controller_promise !== null}
	{#await controller_promise}
		<p>Please wait while data is fetched.</p>
	{:then controller}
		{#key restart_n}
			<div class="simulation">
				<Simulation controller={controller}/>
			</div>
			{/key}
			<div class="column-container">
				<button on:click="{() => restart_n++}">Restart</button>
			</div>
	{:catch error}
		<p>Something went wrong. Invalid ID?</p>
		{JSON.stringify(error)}
	{/await}
{/if}

<p><a href="./">Home</a></p>

<style>
	.simulation {
		width: 50%;
		margin: auto;
	}

	button {
		flex: initial;
		margin: auto;
		margin-top: 1em;
	}

	.column-container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
</style>
